.card_content {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.card_box {
    display: flex;
    justify-content: space-between;
    height: 48px;
    align-items: center;
}


.icon_box {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.icon_button {
    width: 24px;
    height: 24px;
}

.info_box {
    height: 48px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.row {
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.location_box {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.location {
    display: flex;
    gap: 8px
}

.description {
    min-height: 90px;
}

.date {
    height: 34px;
    display: flex;
    justify-content: space-between;
}

.date_btn {
    background-color: #5A9BFF;
    border-radius: 6px;
    padding: 8px 20px;
    font-family: 'YS Text';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.date_btn:hover {
    opacity: .7;
}