.modal_box {
    border-radius: 12px;
    padding: 32px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    gap: 24px;
    background-color: #fff;
}

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.link {
    color: #fff;
    text-decoration: none;
}

.link_password {
    color: #5A9BFF;
    text-decoration: none;
}

.link_password:hover {
    opacity: .7; 
}

.link:hover {
    opacity: .7;
}