.footer {
    width: 100vw;
    height: 50px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-around;
    background-color: #1A1B22;
}

.link {
    text-decoration: none;
    color: #B5B5B7;
    font-family: 'YS Text';
    font-size: 14px;
    line-height: 20px;
}

.link:hover {
    opacity: .7;
}

.telegram {
    width: 24px;
    height: 24px;
    margin: 0 8px -5px 0;
}